<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="AWSLogging" packages="com.kdgregory.log4j.aws">
    <Appenders>
        <AWSAppender name="CloudWatch" region="us-east-1"
                     logGroup="/aws/ecs/containerinsights/acn-mcd-ecs-app-cluster"
                     logStream="kafka-consumer"
                     synchronous="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </AWSAppender>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="CloudWatch"/>
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="com.mcd" level="info" additivity="false">
            <AppenderRef ref="CloudWatch"/>
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
